<!doctype html>
<html>
  <head>
    <title>Product Detail</title>
	<link rel="stylesheet" type="text/css" href="/css/product.css"/>
  </head>
  <body >
  	<script>var PRODUCT=<%- data %></script>
  	<div id="container"><%- reactOutput %></div>
		
		<script type="text/javascript" src="/js/pack.js"></script>
   <body>

</html>
